body{
    background-color:  rgb(241 211 201 / 38%);
}

 h2{
    color: rgb(241, 211, 201);
    text-align: center;
}
.grid, .grid2, .grid3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}


 
   h3, h4{
    color: rgb(248, 245, 244);
    font-family:sans-serif;
    background-color: rgb(241, 211, 201);
    border-radius: 20px;
}

.left, .right{
    background-color: rgb(227 166 201 / 82%);
}

#level, .final{
    color: white;
}
.container2{
    background-color:  white;
    margin: 0 auto 100px auto;
    padding: 30px 10px;
    border-radius: 0 0 20px 20px;
}
.container{
    display: flex;
    background-color: rgb(129 2 51 / 56%);
    border-radius: 20px 20px 0 0;
    padding: 10px;
}
#won{
    background-image: url('./gameImages/tenor.gif'); 
}
#lostgif{
    background-image: url('./gameImages/lost.gif');
}
#lostgif, #won{
    display: none;
    width: 100%;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#final, #modal-2{
    display: none;
}
.modal-fader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 99998;
    background: rgba(0,0,0,0.8);
}
.modal-fader.active {
    display: block;
}

.modal-window {
   
    position: absolute;
    transform: translateX(-50%);
    z-index: 99999;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    font-family: sans-serif;
}
.modal-window.active {
    display: block;
}
.modal-window h1,
.modal-window h2,
.modal-window h3,
.modal-window h4,
.modal-window h5,
.modal-window h6 {
    margin: 0;
}

.modal-btn {
    background: #36a5a5;
    border: none;
    color: #fff;
    padding: 10px 15px;
    box-shadow: none;
    border-radius: 3px;
    text-decoration: none;
}
@media(min-width: 701px){
   
    
     h2{
        margin: 40px auto;  
    }
    .grid{
        width: 472px;
        height: 300px;
        margin: 10px auto;
    }
    
    .grid2{    
        width: 572px;
        height: 400px;
        margin: 10px auto;
    }
    .grid3{
        width: 672px;
        height: 500px;
    }
    h2{
        font-size: 50px;
        margin: 50px auto;
    } 
    h3, h4{
        margin: 50px auto;
        padding: 10px;
    }
      
    
    .left, .right{
        font-size: 26px;
    }
    .final{
        font-size: 30px;
    }
  
    .container2{
        width: 672px;  
        margin: 0 auto 100px auto;
    }
    .container{
        width: 672px;
        margin:100px auto 0 auto;
    }
    #won, #lostgif{
        width: 672px;
        margin: 100px auto;
    }
    
    .modal-window {
        left: 50%;
        position: absolute;
        top: 50px;
        width: 600px;
    }   
}
@media(max-width: 700px) and (min-width: 600px){
    .modal-window {
        left: 50%;
        position: absolute;
        top: 50px;
        width: 90%;
    }  
    .container2{
        width: 550px;  
        margin: 0 auto 100px auto;
    }
    .container{
        width: 550px;
        margin:100px auto 0 auto;
    } 
    .grid{
        width: 472px;
        height: 300px;
        margin: 10px auto;
    }
    
    .grid2{      
        width: 572px;
        height: 400px;
        margin: 10px auto;
    }
    .grid3{
        width: 599px;
        height: 500px;
    }
    h3, h4{
        margin: 50px auto;
        padding: 10px;
    }
    .left, .right{
        font-size: 26px;
    }
    .final{
        font-size: 30px;
    }
    h2{
        font-size: 50px;
        margin: 50px auto;
    } 
    
    #won, #lostgif{
        width: 599px;
        margin: 100px auto;
    }
}


@media(max-width: 599px) and (min-width: 425px){
    .modal-window {
        left: 50%;
        position: absolute;
        top: 50px;
        width: 90%;
    }  
    h3, h4{
        margin: 50px auto;
        padding: 5px;
    }
    .container2, .container, .grid, .grid2 .grid3,  #won,  #lostgif{
        width: 90%;  
    }
    .container2{
        margin: 0 auto 100px auto;
    }
    .container{
        margin:100px auto 0 auto;
    } 
    .grid, .grid2, .grid3{
     
        margin: 10px auto;
    }
  
    .left, .right{
        font-size: 20px;
    }
    .final{
        font-size: 22px;
    }
    h2{
        font-size: 30px;
        margin: 50px auto;
    } 
    #won, #lostgif{
        margin: 100px auto;
    }
}
@media(max-width: 424px) and (min-width: 320px){
    .modal-window {
        left: 50%;
        position: absolute;
        top: 50px;
        width: 90%;
    }  
    .container2, .container, .grid, .grid2 .grid3,  #won,  #lostgif{
        width: 90%;  
    }
    .container2{
        margin: 0 auto 100px auto;
    }
    .container{
        margin:100px auto 0 auto;
    } 
    .grid, .grid2, .grid3{    
        margin: 10px auto;
    }
    
    .left, .right, .final{
        font-size: 18px;
    }
    h2{
        font-size: 20px;
        margin: 50px auto;
    }
    h3, h4{
        margin: 50px auto;
        padding: 5px;
    } 
    img{
        width: 60px;
    }
    #won, #lostgif{
        margin: 100px auto;
     
    }
   
}